@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Poppins', sans-serif;
  }
}

@layer components {
  .input-primary {
    @apply border text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white;
  }
}

:root {
  --bg-gray: #343a40;
}

html,
body,
#__root {
  height: 100%;
  min-height: 100%;
}

body {
  background: #212529;
  color: white;overflow: hidden;
  -ms-overflow-style: none;  
  scrollbar-width: none; 
  overflow: auto;
}

body::-webkit-scrollbar {
  display: none;
}

.scroll-accounts-list::-webkit-scrollbar {
  display: none;
}


.toast {
  background-color: var(--bg-gray) !important;
  border: 1px solid var(--bg-gray);
  color: #fff !important;
}

.active-tab::after {
  content: "";
  width: 12px;
  height: 1px;
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  background: #469999;
}