@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Quicksand Variable', sans-serif;
  }
}

@layer components {
  .input-primary {
    @apply border text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white;
  }

  .input-secondary {
    @apply text-sm rounded-lg block w-full p-2.5 bg-[#212529] placeholder-gray-400 text-white focus:ring-0;
  }
}

:root {
  --bg-gray: #343a40;
}

html,
body,
#__root {
  height: 100%;
  min-height: 100%;
}

#__root {
  display: flex;
  flex-direction: column;
}

body {
  background: #0C0C0C;
  color: white;overflow: hidden;
  -ms-overflow-style: none;  
  scrollbar-width: none; 
  overflow: auto;
}

body::-webkit-scrollbar {
  display: none;
}

input[type="checkbox"] {
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
}

input[type="checkbox"]:checked::after{
  content: '\2714';
  display: block;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.active-wallet-icon::after {
  content: '\2714';
  display: block;
  text-align: center;
  position: absolute;
  top: 1/2;
  left: 1/2;
  transform: translate(-50%, -50%);
}

.scroll-accounts-list::-webkit-scrollbar, .settings-container::-webkit-scrollbar {
  display: none;
}


.toast {
  background-color: var(--bg-gray) !important;
  border: 1px solid var(--bg-gray);
  color: #fff !important;
}

.active-tab::after {
  content: "";
  width: 12px;
  height: 1px;
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  background: currentColor;
}