@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-gray: #343a40;
}

html,
body,
#__root {
  height: 100%;
  min-height: 100%;
}

body {
  background: #212529;
  color: white;overflow: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;  
  scrollbar-width: none; 
}

.toast {
  background-color: var(--bg-gray) !important;
  border: 1px solid var(--bg-gray);
  color: #fff !important;
}

