@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__root {
  height: 100%;
  min-height: 100%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.282);
}

::-webkit-scrollbar-thumb {
  box-shadow: rgba(170, 170, 170, 0.518);
}

body {
  background: #212529;
  color: white;
  overflow: visible;
}

.toast {
  background-color: #343A40 !important;  
  border: 1px solid #343A40;
  color: #fff !important
}